 .u-section-1 {
  background-image: url("images/photo66.jpg");
  background-position: 50% 50%;
  min-height: 1215px;
}

.u-section-1 .u-text-1 {
  font-family: "Noto Sans JP";
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 690px 898px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Noto Sans JP";
  font-weight: 700;
  margin: 1px 898px 60px auto;
}

@media (max-width: 1399px) {
   .u-section-1 {
    min-height: 960px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 492px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 421px;
    margin-left: calc(50% + 0);
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 913px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 475px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: 520px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 925px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 422px;
    margin-left: calc(((100% - 720px) / 2)  + 239px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: calc(((100% - 720px) / 2)  + 168px);
    margin-left: calc(50% + 0);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 890px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 305px;
    margin-left: calc(((100% - 540px) / 2)  + 217px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.3333333333333333rem;
    margin-top: -515px;
    margin-right: 152px;
    margin-left: calc(((100% - 540px) / 2)  + 288px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 334px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 154px;
    margin-right: calc(((100% - 340px) / 2)  + -33px);
    margin-left: calc(((100% - 340px) / 2)  + 142px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2)  + -11px);
    margin-left: calc(((100% - 340px) / 2)  + 181px);
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-block-ce36-7:not([data-block-selected]):not([data-cell-selected]),
.u-block-ce36-7:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ce36-7:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-ce36-7.u-block-ce36-7.u-block-ce36-7:hover:not([data-block-selected]):not([data-cell-selected]) {
  border-radius: 10px !important;
  opacity: 0 !important;
}

.u-block-ce36-7.u-block-ce36-7.u-block-ce36-7.hover {
  border-radius: 10px !important;
  opacity: 0 !important;
} .u-section-2 {
  margin-top: 20px;
}

.u-section-2 .u-sheet-1 {
  min-height: 121px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: -21px auto 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: -42px auto 60px 144px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-top: 121px;
    margin-bottom: -52px;
    margin-left: 237px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-top: -21px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-left: 304px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 63px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
  margin-top: 20px;
  min-height: 100vh;
}

.u-section-3 .u-group-1 {
  background-image: none;
  height: auto;
  min-height: 1035px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 0;
}

.u-section-3 .u-gallery-1 {
  width: 1860px;
  height: 926px;
  grid-gap: 10px;
  margin: 42px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-image-2 {
  object-position: 50% 16.3%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 0%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-image-5 {
  object-position: 68.09% 22.21%;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-1 {
  font-family: "Noto Sans JP";
  margin: -1064px auto 60px calc(((100% - 2160px) / 2)  + -15px);
}

@media (max-width: 1399px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-gallery-1 {
    width: 1187px;
    height: 634px;
    margin-left: -18px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1080px) / 2)  + -15px);
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 940px;
    height: 468px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + -15px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
    height: 815px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + -15px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
    height: 2469px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + -15px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    width: 340px;
    height: 1573px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -1657px;
    margin-left: 0;
  }
} .u-section-4 {
  min-height: 820px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 820px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/photo7.jpg');
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 263px auto 0 60px;
}

.u-section-4 .u-text-2 {
  font-family: "Noto Sans JP";
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 19px 20px 0 50px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 10px auto 0 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 820px;
}

.u-section-4 .u-container-layout-2 {
  padding: 81px 60px 89px;
}

@media (max-width: 1399px) {
   .u-section-4 {
    min-height: 407px;
  }

  .u-section-4 .u-image-1 {
    min-height: 555px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 407px;
  }
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 342px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 336px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 270px;
  }

  .u-section-4 .u-image-1 {
    min-height: 363px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 454px;
  }

  .u-section-4 .u-image-1 {
    min-height: 371px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 913px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 389px;
  }

  .u-section-4 .u-image-1 {
    min-height: 455px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 154px;
    margin-left: 18px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 8px;
    margin-left: 8px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 69px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 729px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 62px 435px 0 0;
}

.u-section-5 .u-table-1 {
  margin: 19px auto 46px 0;
}

.u-block-6414-49 {
  background-image: none;
}

.u-section-5 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-5 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.125rem;
}

.u-section-5 .u-table-cell-2 {
  background-image: none;
}

.u-section-5 .u-table-cell-3 {
  background-image: none;
}

.u-section-5 .u-table-cell-4 {
  background-image: none;
}

.u-section-5 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-5 .u-table-cell-10 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-5 .u-table-cell-11 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-5 .u-table-cell-12 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-5 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-18 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-19 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-20 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-22 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-23 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-24 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-block-6414-35 {
  background-image: none;
}

@media (max-width: 1399px) {
  .u-section-5 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-5 .u-table-cell-10 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-table-cell-11 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-table-cell-12 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-table-cell-10 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-table-cell-11 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-table-cell-12 {
    font-size: 1.5rem;
  }
}

.u-block-6414-87,
.u-block-6414-87:before,
.u-block-6414-87 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-6414-87.u-block-6414-87.u-block-6414-87:hover {
  font-size: 20px !important;
}

.u-block-6414-87.u-block-6414-87.u-block-6414-87.hover {
  font-size: 20px !important;
} .u-section-6 {
  min-height: 118px;
}

.u-section-6 .u-image-1 {
  width: 132px;
  left: 0;
  top: 0;
}

.u-section-6 .u-list-1 {
  width: 1230px;
  margin: 53px 0 21px auto;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 4.16667px);
  grid-template-columns: repeat(6, calc(16.6667% - 4.16667px));
  min-height: 44px;
  grid-gap: 5px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 10px 5px;
}

.u-section-6 .u-text-1 {
  font-family: "Noto Sans JP";
  margin: 0 0 0 auto;
}

.u-section-6 .u-btn-1 {
  font-family: "Noto Sans JP";
  font-weight: 500;
  font-size: 0.75rem;
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 10px 5px;
}

.u-section-6 .u-text-2 {
  margin: 0 0 0 auto;
}

.u-section-6 .u-btn-2 {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 0.75rem;
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 10px 5px;
}

.u-section-6 .u-text-3 {
  margin: 0 0 0 auto;
}

.u-section-6 .u-btn-3 {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 0.75rem;
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 10px 5px;
}

.u-section-6 .u-text-4 {
  margin: 0 0 0 auto;
}

.u-section-6 .u-btn-4 {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 0.75rem;
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 10px 5px;
}

.u-section-6 .u-text-5 {
  margin: 0 0 0 auto;
}

.u-section-6 .u-btn-5 {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 0.75rem;
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px 10px 5px;
}

.u-section-6 .u-text-6 {
  margin: 0 0 0 auto;
}

.u-section-6 .u-btn-6 {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 0.75rem;
  transition-duration: 0.5s;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-6 .u-image-1 {
    height: 118px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-6 .u-list-1 {
    width: 1080px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 4.16667px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 4.16667px));
    min-height: 39px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 3.3333359999999996px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.3333359999999996px));
    min-height: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 2.500002px);
    grid-template-columns: repeat(2, calc(50% - 2.500002px));
    min-height: 190px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 269px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-6 .u-list-1 {
    width: 157px;
    margin-top: -118px;
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 269px;
  }
}

.u-section-6 .u-btn-1,
.u-section-6 .u-btn-1:before,
.u-section-6 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1:hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1.hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-2,
.u-section-6 .u-btn-2:before,
.u-section-6 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-2.u-btn-2.u-btn-2:hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-2.u-btn-2.u-btn-2.hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-3,
.u-section-6 .u-btn-3:before,
.u-section-6 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-3.u-btn-3.u-btn-3:hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-3.u-btn-3.u-btn-3.hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-4,
.u-section-6 .u-btn-4:before,
.u-section-6 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-4.u-btn-4.u-btn-4:hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-4.u-btn-4.u-btn-4.hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-5,
.u-section-6 .u-btn-5:before,
.u-section-6 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-5.u-btn-5.u-btn-5:hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-5.u-btn-5.u-btn-5.hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-6,
.u-section-6 .u-btn-6:before,
.u-section-6 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-6.u-btn-6.u-btn-6:hover {
  font-size: 20px !important;
}

.u-section-6 .u-btn-6.u-btn-6.u-btn-6.hover {
  font-size: 20px !important;
}

.u-block-0e9a-55,
.u-block-0e9a-55:before,
.u-block-0e9a-55 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0e9a-55.u-block-0e9a-55.u-block-0e9a-55:hover {
  font-size: 20px !important;
}

.u-block-0e9a-55.u-block-0e9a-55.u-block-0e9a-55.hover {
  font-size: 20px !important;
}

.u-block-0e9a-35,
.u-block-0e9a-35:before,
.u-block-0e9a-35 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0e9a-35.u-block-0e9a-35.u-block-0e9a-35:hover {
  font-size: 20px !important;
}

.u-block-0e9a-35.u-block-0e9a-35.u-block-0e9a-35.hover {
  font-size: 20px !important;
}

.u-block-0e9a-39,
.u-block-0e9a-39:before,
.u-block-0e9a-39 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0e9a-39.u-block-0e9a-39.u-block-0e9a-39:hover {
  font-size: 20px !important;
}

.u-block-0e9a-39.u-block-0e9a-39.u-block-0e9a-39.hover {
  font-size: 20px !important;
}

.u-block-0e9a-43,
.u-block-0e9a-43:before,
.u-block-0e9a-43 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0e9a-43.u-block-0e9a-43.u-block-0e9a-43:hover {
  font-size: 20px !important;
}

.u-block-0e9a-43.u-block-0e9a-43.u-block-0e9a-43.hover {
  font-size: 20px !important;
}

.u-block-0e9a-47,
.u-block-0e9a-47:before,
.u-block-0e9a-47 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0e9a-47.u-block-0e9a-47.u-block-0e9a-47:hover {
  font-size: 20px !important;
}

.u-block-0e9a-47.u-block-0e9a-47.u-block-0e9a-47.hover {
  font-size: 20px !important;
}

.u-block-0e9a-51,
.u-block-0e9a-51:before,
.u-block-0e9a-51 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0e9a-51.u-block-0e9a-51.u-block-0e9a-51:hover {
  font-size: 20px !important;
}

.u-block-0e9a-51.u-block-0e9a-51.u-block-0e9a-51.hover {
  font-size: 20px !important;
}Effects（效果）
- Entrance Animation
- Hover Animation